@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #edecec;
  --button-color: #fd6f00;
  --text-color: #00000;
  --footer-bg-color: #f8f8f8;
  --footer: #545454;
}
